body {
  margin: 0;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  background: black;
  color: white;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

canvas {
  display: block;
}
